<h1>Suppliers</h1>

<p> <a href="/dashboard/suppliers/new">New Supplier</a> </p>

<%@suppliers.each do |supplier|  %>
  <p>Name: <%=supplier.name %></p>
  <p>Representative: <%=supplier.representative %></p>

<p><a href="/dashboard/suppliers/<%= supplier.id %>">Show Supplier</a></p>

<hr>
<%end  %>
