<h1>Suppliers</h1>

<p> <a href="/dashboard/suppliers/new">New Supplier</a> </p>

<table>
  <tr>
    <th>Name</th>
    <th>Rep</th>
    <th>Show Supplier</th>
  </tr>

<%@suppliers.each do |supplier|  %>
    <tr>
      <td><%=supplier.name %></td>
      <td><%=supplier.representative %></td>
      <td><a href="/dashboard/suppliers/<%= supplier.id %>">Show Supplier</a></td>
    </tr>
  <%end  %>
</table>
