<form method="post" action='/dashboard/suppliers'>
  <label for="name_field">Company Name</label>
  <input type="text" name="name" id="name_field">

  <label for="location_field">Location</label>
  <input type="text" name="location" id="location_field">

  <label for="representative_field">Representative</label>
  <input type="text" name="Representative" id="representative_field">

  <input type="submit" value="Submit New Supplier">

</form>
