<p>Company Name: <%=@supplier.name %></p>
<p>Location: <%=@supplier.location %></p>
<p>Representative: <%=@supplier.representative %></p>

<ul>

</ul>
<% for item in @items  %>
  <li><%= item.name  %></li>

<% end  %>
