<p>Company Name: <%=@supplier.name %></p>
<p>Location: <%=@supplier.location %></p>
<p>Representative: <%=@supplier.representative %></p>

<form method="post" action="/dashboard/suppliers/<%=@supplier.id%>/delete">
  <input type="submit" value="Delete Supplier"/>
</form>
