<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mario Kart Inventory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/orders">Orders</a></li>
        <li><a href="/dashboard/items">Items</a></li>
        <li><a href="/dashboard/suppliers">Suppliers</a></li>
        <li><a href="/dashboard/customers">Customers</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
