<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/items">All Items</a></li>
        <li><a href="/dashboard/suppliers">All Suppliers</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
