<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Kart Inventory</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://pre00.deviantart.net/6b36/th/pre/i/2016/305/b/0/super_smash_bros__series_icon___mario_kart_by_segtend0-dan0ti6.png">
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/orders">Orders</a></li>
        <li><a href="/dashboard/items">Items</a></li>
        <li><a href="/dashboard/suppliers">Suppliers</a></li>
        <li><a href="/dashboard/customers">Racers</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
