<p> <a href="/dashboard/orders/new">New Order</a> </p>

<%@orders.each do |order|  %>
  <p>Item: <%=order.item.name %></p>
  <p>Customer: <%=order.customer.name %></p>

  <p> <a href="/dashboard/orders/<%= order.id %>">Show Order</a> </p>

<hr>
<%end  %>
