<p> <a href="/dashboard/customers/new">New Customer</a> </p>

<%@customers.each do |customer|  %>
  <p>Name: <%=customer.name %></p>
  <p>Contact: <%=customer.contact %></p>

<p><a href="/dashboard/customers/<%= customer.id %>">Show Customer</a></p>

<hr>
<%end  %>
