<h1>Exisiting Racers</h1>

<p> <a href="/dashboard/customers/new">New Racer</a> </p>

<table>
  <tr>
    <th>Name</th>
    <th>Show Racer</th>
  </tr>

<%@customers.each do |customer|  %>
    <tr>
      <td><%=customer.name %></td>
      <td><a href="/dashboard/customers/<%= customer.id %>">Show Racer</a></td>
    </tr>
  <%end  %>
</table>
