<h1>New Racer</h1>

<form method="post" action='/dashboard/customers'>

  <label for="name_field">Name</label>
  <input type="text" name="name" id='name_field'>

  <label for="contact_field">Contact Info</label>
  <input type="text" name="contact" id='contact_field'>

  <input type="submit" value="Submit New Racer">

</form>
